<div class="product">
	<h1>productsss</h1>
	<h2>{{product.title}}</h2>

	<img src="{{product.img}}" alt="{{product.title}}" title="{{product.title}}">

	<p class='price big'>{{product.price}}</p>
	
</div>